/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {

  text-shadow:  rgba(0, 0, 0, .5);
  box-shadow: inset  rgba(0, 0, 0, .5);
  text-align: center;
}

p{

  text-size: 12px;
}
.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

#claim {
  padding-bottom:8%;

}
.background-image {
  text-align: center;

}

#intro-dex{
  padding-bottom:10%;
  padding-top:10%;

}


img {
  width: 320px;
  text-align: center;
  padding-bottom :14%;
}

footer{
    margin-top:20px;
}

a{
  color: #1E1E1E;
  text-shadow: none

}

#claim-nft{

  background-color:#343a40;
  color:#fff;
  padding-top: 8%;
  padding-bottom: 8%;
}

.lead{

  padding-bottom: 13%;
}
